<!doctype html>
<html>
    <head>
        <title>Coding for enterpreneurs is doing try django</title>
        <link rel="stylesheet" type="text/css" href="D:/semester projects/cfe_trial/cfeTrial/static/css/bootstrap.css">
        <script type="text/javascript" src="D:/semester projects/cfe_trial/cfeTrial/static/js/boostrap.js"></script>
        {% comment %} ../assets/dist/css/bootstrap.css {% endcomment %}
        <link rel='stylesheet', type='text/css' href="D:/semester projects/cfe_trial/cfeTrial/productProvingStubborn/static/bootstrap-5.2.2-dist/assets/dist/css/bootstrap.css">
        <script type="text/javascript " src="D:/semester projects/cfe_trial/cfeTrial/productProvingStubborn/static/bootstrap-5.2.2-dist/assets/dist/js/bootstrap.js"></script>

        <link rel='stylesheet', type='text/css' href="D:/semester projects/cfe_trial/cfeTrial/productProvingStubborn/static/bootstrap-5.2.2-dist/css/bootstrap.css">
        <script type="text/javascript " src="D:/semester projects/cfe_trial/cfeTrial/productProvingStubborn/static/bootstrap-5.2.2-dist/js/bootstrap.js"></script>
    </head>
    <body>
        {% include "navbar.html" %} 

        {% block content %}
        
        {% endblock %}
    </body>
</html>